.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1vw;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.4s;
    cursor: pointer;
}

.post-container {
    display: flex;
    flex-direction: column;
    margin-left: 1vh;
}

.post-container > span {
    padding: 0.5vh;
    transition: transform 0.4s;
    width: 60%;
    border-radius: 1vh;
    margin: 0.2vh;
}

.post-container > span:hover {
    transform: scale(1.1);
}

.container:hover {
    transform: scale(1.1);
}

.day-number {
    margin: 1.5vh;
}